<.header>
  File <%= @file.id %>
  <:subtitle>This is a file record from your database.</:subtitle>
</.header>

<.list>
  <:item title="Filename"><%= @file.filename %></:item>
  <:item title="Data"><%= @file.data %></:item>
</.list>

<.back navigate={~p"/files"}>Back to files</.back>