<.header>
  Cid <%= @cid.id %>
  <:subtitle>This is a cid record from your database.</:subtitle>
</.header>

<.list>
  <:item title="Cid"><%= @cid.cid %></:item>
  <:item title="Data"><%= @cid.data %></:item>
</.list>

<.back navigate={~p"/cids"}>Back to cids</.back>